<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zandoli.shophelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="zandoli.shophelper.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="zandoli.shophelper.YourTotalIs"
            android:label="@string/title_activity_total" >
        </activity>
        <activity
            android:name="zandoli.shophelper.Shake"
            android:label="@string/title_activity_shake" >
        </activity>
        <activity
            android:name="zandoli.shophelper.ShakeDetection"
            android:label="@string/title_activity_shake_detection" >
        </activity>
        <activity
            android:name="zandoli.shophelper.ShakeDetector"
            android:label="@string/title_activity_shake_detector" >
        </activity>
        <activity
            android:name="zandoli.shophelper.ShakeEventListener"
            android:label="@string/title_activity_shake_event_listener" >
        </activity>
    </application>

</manifest>
